BOT_TOKEN=
BOT_USERNAME=
DEFAULT_MENTOR_NAME=Евгений Rembo
DEFAULT_MENTOR_USERNAME=charkrembo
COMMUNITY_CHAT_URL=
ADMIN_IDS=
ADMIN_WEB_TOKEN=

POSTGRES_DB=bot_db
POSTGRES_USER=bot_user
POSTGRES_PASSWORD=bot_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

WEB_BASE_URL=http://localhost:8000

YOOMONEY_RECEIVER=
YOOMONEY_LABEL_SECRET=
YOOMONEY_SUCCESS_URL=
YOOMONEY_FAIL_URL=

SUBSCRIPTION_PRICE_RUB=199
SUBSCRIPTION_DAYS=30
